<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Bonjour {{title}}</h1>
<button (click)="tenTweets()"> Tweets </button>

<table>

  <tr>
    <th>idUser</th>
    <th>userName</th>
    <th>userLocation</th>
    <th>userDescription</th>
    <th>userCreated</th>
    <th>userFollowers</th>
    <th>userFriends</th>
    <th>userFavourites</th>
    <th>userVerified</th>
       <th>text</th>
     <th>hashtags</th>
     <th>source</th>
     <th>isRetweet</th>
    </tr>
  <ng-container *ngFor="let user of this.tweeters">

      <tr>
        <td>{{user.idUser}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.userLocation}}</td>
        <td>{{user.userDescription}}</td>
        <td>{{user.userCreated}}</td>
        <td>{{user.userFollowers}}</td>
         <td>{{user.userFriends}}</td>
         <td>{{user.userFavourites}}</td>
        <td>{{user.userVerified}}</td>
           <td>{{user.text}}</td>
          <td>{{user.hashtags}}</td>
          <td>{{user.source}}</td>
          <td>{{user.isRetweet}}</td>
      </tr>
    </ng-container></table>

  <!-- <div *ngFor ="let userTweet of tweets"> element : {{userTweet.userName}}</div> -->




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

